<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>Project page</title>
  </head>
  <body>
    {{> pageTitle}}
    <a href="#">Project link</a>
    {{> footer}}
  </body>
</html>
